body {
        font-family: Arial, Helvetica, sans-serif; 
        background-color: #E5E4E2;
        position: fixed;
        padding-left: 3%;
        padding-top: 3%;
        
      }
footer{
        font-size: 10pt;
      }
ul.menu{
        list-style: none;
      }